@model ProgrammersBlog.Mvc.Models.RightSideBarViewModel
<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <form action="#">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder='Search Keyword'
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Search Keyword'">
                        <div class="input-group-append">
                            <button class="btns" type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">
                    Arama
                </button>
            </form>
        </aside>

        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Kategoriler</h4>
            <a asp-controller="Home" asp-action="Index" >Hepsi</a>
           @foreach(var category in Model.Categories)
            {
                <ul class="list cat-list">
                    <li>
                        <a href="#" class="d-flex">
                            <a  asp-controller="Home" asp-action="BlogIndex" asp-route-categoryId="@category.Id">@category.Name</a>
                            
                        </a>
                    </li>

                </ul>
            }
        </aside>

        <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">En Çok Okunan Makaleler</h3>
            @for(int i = 0; i < Model.Articles.Count; i++)
            {

                   if(i%2 == 0)
                {
                    <div class="media post_item list-group-item-primary">
                        <img src="~/img/@Model.Articles[i].Thumbnail" width="50" height="60" alt="post">
                        <div class="media-body">
                            <a >

                                <a asp-controller="Article" asp-action="Detail" asp-route-articleId="@Model.Articles[i].Id">  <h3>@Model.Articles[i].Title</h3> </a>
                            </a>
                            <p>@Model.Articles[i].Date</p>
                        </div>
                    </div>
                }else
                {
                     <div class="media post_item list-group-item-warning">
                        <img src="~/img/@Model.Articles[i].Thumbnail" width="50" height="60"  alt="post">
                        <div class="media-body">
                            <a >
                                <a asp-controller="Article" asp-action="Detail" asp-route-articleId="@Model.Articles[i].Id">
                                    <h3>@Model.Articles[i].Title</h3></a>
                               
                            </a>
                            <p></p>
                        </div>
                    </div>
                }

            }
        </aside>
        <aside class="single_sidebar_widget tag_cloud_widget">
            <h4 class="widget_title">Tag Clouds</h4>
            <ul class="list">
                <li>
                    <a href="#">project</a>
                </li>

            </ul>
        </aside>


        <aside class="single_sidebar_widget instagram_feeds">
            <h4 class="widget_title">Sosyal Medya Hesapları</h4>
            <ul class="instagram_row flex-wrap">
                <li>
                    <a href="#">
                        <img class="img-fluid" src="assets/img/post/post_5.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                    </a>
                </li>
            </ul>
        </aside>


        <aside class="single_sidebar_widget newsletter_widget">
            <h4 class="widget_title">Abone Ol</h4>

            <form action="#">
                <div class="form-group">
                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">
                    Subscribe
                </button>
            </form>
        </aside>
    </div>
</div>