<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="@ViewBag.Author">
    <meta name="keywords" content="@ViewBag.Tags" />
    <title>Bilişim Sözlüğü</title>

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="~/BlogThema2/assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link rel="stylesheet" href="~/BlogThema2/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/slicknav.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/animate.min.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/themify-icons.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/themify-icons.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/slick.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/nice-select.css">
  <link rel="stylesheet" href="~/BlogThema2/assets/css/style.css">
    <link rel="stylesheet" href="~/BlogThema2/assets/css/responsive.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/BlogThema2/assets/img/logo/ataunilogo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area ">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-8">
                            <div class="header-info-left">
                                <ul>                          
                                    <li>bilisimsozlugu@gmail.com</li>
                                    <li>+9054367533</li>
                                    <li>Erzurum/Türkiye</li>
                                </ul>
                            </div>
                        </div>
                       
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container ">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                             
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block "  >
                                    <nav >
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                                           
                                            
                                            <li><a asp-controller="Home" asp-action="BlogIndex">Blog</a></li>
                                                 
                                                
                                          
                                          
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    
     <!-- slider Area End-->
    <!--================Blog Area =================-->
  @RenderBody()
    <!--================Blog Area =================-->
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding bg-dark">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                              <!-- logo -->
                             
                             <div class="footer-tittle">
                                 <div class="footer-pera">
                                     <p>Bilişim Sözlüğü İnsanlara doğru ve öz bilgiyi ulaştırmaya çalışan bir öğrenci topluluğudur.</p>
                                </div>
                             </div>
                         </div>
                       </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                               
                                <ul>
                                    <li><a href="#"> Hakkımızda</a></li>
                                 
                                    <li><a href="#">  İletişim</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                           
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                           
                        </div>
                    </div>
                </div>
               
               
                  
             </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

<!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>

        <!-- Jquery, Popper, Bootstrap -->
        <script src="~/BlogThema2/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/BlogThema2/assets/js/popper.min.js"></script>
        <script src="~/BlogThema2/assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="~/BlogThema2/assets/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="~/BlogThema2/assets/js/owl.carousel.min.js"></script>
        <script src="~/BlogThema2/assets/js/slick.min.js"></script>

        <!-- One Page, Animated-HeadLin -->
        <script src="~/BlogThema2/assets/js/wow.min.js"></script>
        <script src="~/BlogThema2/assets/js/animated.headline.js"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="~/BlogThema2/assets/js/jquery.scrollUp.min.js"></script>
        <script src="~/BlogThema2/assets/js/jquery.nice-select.min.js"></script>
        <script src="~/BlogThema2/assets/js/jquery.sticky.js"></script>
        <script src="~/BlogThema2/assets/js/jquery.magnific-popup.js"></script>

        <!-- contact js -->
        <script src="~/BlogThema2/assets/js/contact.js"></script>
        <script src="~/BlogThema2/assets/js/jquery.form.js"></script>
        <script src="~/BlogThema2/assets/js/jquery.validate.min.js"></script>
        <script src="~/BlogThema2/assets/js/mail-script.js"></script>
        <script src="~/BlogThema2/assets/js/jquery.ajaxchimp.min.js"></script>

        <!-- Jquery Plugins, main Jquery -->	
        <script src="~/BlogThema2/assets/js/plugins.js"></script>
        <script src="~/BlogThema2/assets/js/main.js"></script>
    @RenderSectionAsync("scripts",false)

</body>
</html>